﻿@using BP.Domain
@model dynamic

@{
    ViewBag.Title = "Complete User List";

}

<h2>Complete User List</h2>

<div>
  <form action="post" id=""></form>
      <ol>
    @{
        foreach (User user in Model)
        {
            <li>@Html.ActionLink(string.Format("{0} {1}", user.First, user.Last), "UserDetail", new {Id = user.Id})</li>            
        }
    }
     
    </ol>
   
</div>